HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar


#### MAC Specific ####
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
*.log
*application.log.*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
*application.log.*

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.log
*application.log.*
